body {
    background-color: #006980;

    font-family: Calibri;
    color: #404040;

    margin:0px;
    padding:0px;
}

#div-header {
    height: 85px;

    background-color: #00c6d8;
    color: white;
    overflow: auto;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
    #div-header #div-logo {
        /*float: left;*/
    }
    #div-header #div-login {
        /*float: right;*/
        width: 350px;
        height: 80px;
    }
    #div-header #div-login .div-login-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
    }
    #div-header #div-login .div-login-row {
        display: flex;
        justify-content: space-between;
    }
    #div-header #div-login .login-control {
        width: 172px;
    }
    #div-header #chkRemember {
        
    }
    #div-header #lblLoginError {
        font-size: small;
        background-color: #ff2323;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
    }
    #div-header #div-current-user {
        height: 45px;
        width: 350px;
        display: inline-block;
    }
        #div-header #div-current-user #lblCurrentUser {
            font-size: 16pt;
            font-weight: bold;
        }

#div-content {
    display: block;
    margin-right: 230px;
}

#div-sidebar {
    width: 200px;
    flex-shrink: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    right: 0px;
    top: 95px;
}
    #div-sidebar>* {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #div-sidebar .sidebar-header {
        margin-bottom: 5px;
    }


h1 {
    margin: 0px;
}

.panel {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.chip {
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    background-color: #00c6d8;
    color: white;
    font-size: small;
}
    .chip.chip-white {
        background-color: white;
        color: #00c6d8;
    }

.btn {
    padding: 10px;
    border: 0px;
    border-radius: 2px;

    background-color: #00c6d8;
    color: white;
    text-decoration: none;

    /* Taken from <input> tag to make <a> tags look like buttons */
    font: 13.3333px Arial;
    display: inline-block;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    cursor: default;
}
    .btn:hover {
        background-color: #00809c;
    }
    .btn.btn-dark {
        background-color: #00809c;
    }
        .btn.btn-dark:hover {
            background-color: #006980;
        }
    .btn.btn-wide {
        width: 100%;
    }
    .btn.btn-small {
        padding: 5px;
    }

    .btn.btn-green {
        background-color: #00d124;
    }
        .btn.btn-green:hover {
            background-color: #008517;
        }
    .btn.btn-purple {
        background-color: #9d00ff;
    }
        .btn.btn-purple:hover {
            background-color: #5d0097;
        }

.text-field {
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid lightgray;
}
    .text-field.text-field-big {
        font-size: 14pt;
        padding: 5px;
    }

.error-message {
    color: white;
    background-color: #ff2323;
    display: inline-block;
    width: 100%;
    padding-left: 2px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    /*font-weight:bolder;*/
}

li {
    list-style-type:none;
}

.missingField{
    font-size:small;
    padding-left:5px;
    color:#ff2323;
}