body {
    background-color: #006980;

    font-family: Calibri;
    color: #404040;

    margin:0px;
    padding:0px;
}

#div-header {
    background-color: #00c6d8;
    color: white;
    overflow: auto;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-between;
}
    #div-header #div-logo {
        /*float: left;*/
    }
    #div-header #div-login {
        /*float: right;*/
        width: 350px;
        height: 80px;
    }
    #div-header #div-login .div-login-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
    }
    #div-header #div-login .div-login-row {
        display: flex;
        justify-content: space-between;
    }
    #div-header #div-login .login-control {
        width: 172px;
    }
    #div-header #chkRemember {
        
    }
    #div-header #lblLoginError {
        font-size: small;
        background-color: #ff2323;
        width: 100%;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
    }
    #div-header #div-current-user {
        height: 45px;
        width: 350px;
        display: inline-block;
    }
        #div-header #div-current-user #lblCurrentUser {
            font-size: 16pt;
            font-weight: bold;
        }


h1 {
    margin: 0px;
}

.panel {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.chip {
    margin-right: 5px;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    background-color: #00c6d8;
    color: white;
    font-size: small;
}

.btn {
    padding: 10px;
    border: 0px;
    border-radius: 2px;
    background-color: #00c6d8;
    color: white;
    text-decoration: none;

    /* Taken from <input> tag to make <a> tags look like buttons */
    font: 13.3333px Arial;
    display: inline-block;
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    cursor: default;
}
    .btn:hover {
        background-color: #00809c;
    }
    .btn.btn-dark {
        background-color: #00809c;
    }
        .btn.btn-dark:hover {
            background-color: #006980;
        }
    .btn.btn-wide {
        width: 100%;
    }

.text-field {
    width: calc(100% - 5px);
    box-sizing: border-box;
}

.error-message {
    color: white;
    background-color: #ff2323;
    display: inline-block;
    width: 100%;
    padding-left: 2px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight:bolder;
}

li {
    list-style-type:none;
}

.missingField{
    font-size:small;
    padding-left:5px;
    color:#ff2323;
}