.comment {
    /*border: 1px solid #c0c0c0;*/
    border-left: 2px solid #00c6d8; 
    background-color: white;
}

    .comment .commentContent {
        background-color: white;
    }
    
    .comment p {
        margin: 0px;
    }
    
    .comment .commentHead {
        padding: 5px;
        font-size: small;
        color: white;
        background-color: #00c6d8;
    }
    .comment .username {
        font-weight: bold;
    }
    .comment .timestamp {
    
    }
    .comment .bookmark {
        text-align: right;
    }
    .comment .commentNumber {
        margin-left: 20px;
        text-align: right;
        float: right;
    }
    
    .comment .commentBody {
        padding: 5px;
        padding-left: 10px;
    }
    
    .comment .commentOptions {
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.025);
        color: rgba(128, 128, 128, 0.75);
        font-size: small;
    }
        .comment .commentOptions a {
            padding-right: 5px;
        }
        .comment .commentOptions a.pressed {
            color: #404040;
            font-weight:bold;
        }
        .comment .commentOptions a:hover {
            /*font-weight: bold;*/
            color: #606060;
        }
    
    
    .comment .commentChildren {
        padding-left: 5px;
        
    }

    .comment .ribbon {
        color: white;
        font-weight: bold;
        padding: 5px;
    }
        .comment .ribbon.initial {
            background-color: #ffea00;
        }
        .comment .ribbon.synth {
            background-color: #9d00ff;
        }
        .comment .ribbon.spec {
            background-color: #ff9c00;
        }
        .comment .ribbon.contrib {
            background-color: #00d124;
        }

    .comment.initial>.commentContent {
        background-color: #ffffc9;
    }
    .comment.synth>.commentContent {
        background-color: #f0d8ff;
    }
    .comment.spec>.commentContent {
        background-color: #ffe0af;
    }
    .comment.contrib>.commentContent {
        background-color: #c4ffce;
    }


    .comment .attachments {
        padding-left: 20px;
    }
    .comment .attachments a, .comment .attachments a:active {
        color: #00d124; 
        text-decoration: none;
    }
    .comment .attachments a:hover {
        font-weight:bolder;
    }

    .comment .synth-links {
        padding-left: 20px;
    }
    .comment .synth-links a, .comment .synth-links a:active {
        color: #9d00ff; 
        text-decoration: none;
    }
    .comment .synth-links a:hover {
        font-weight:bolder;
    }

    .comment.filter-hidden {
        display: none;
    }
    .comment.filter-faded {

    }
        .comment.filter-faded>.commentHead {
            background-color: #78edf7;
            margin-bottom: 5px;
        }
        .comment.filter-faded>.commentContent, 
        .comment.filter-faded>.commentRibbons {
            display: none;
        }



.replyBox {
    border-left: 2px solid #888888;
    background-color: white;
}
.replyHead {
    padding: 5px;
    font-size: small;
    font-weight: bold;
    color: white;
    background-color: #888888;
}
.replyContent {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
}
.replyText {
    width: 100%;
    height: 80px;
}
.replyButtons {
    float: right;
}
.msg-error{
    font-size:small;
    padding-left:5px;
    color:#ff2323;
}
.reply-box-hidden {
    display: none !important;
}

.div-file-upload {
    display: flex;
    align-items: center;
}

.btn-file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.file-upload {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
}
.synthOptions{
    background-color: #f0d8ff;
    margin-left: 5px;
    padding:5px;
}
.synthList{
    /*width:50%;*/
    padding-left: 0px;
}
.synthList .synthIdLabel {
    display: inline-block;
    min-width: 60px;
    padding-left: 5px;
}
.synthList input{
    /*margin-left:25px;*/
}
.synthList li {
    margin: 5px;
}

#div-filter-options, #div-sort-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

#div-filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnSynthesizeComment {
    color:#9d00ff;
}

.btn-edit-project {
    float: right;
    color: #00c6d8;
}
    .btn-edit-project:hover {
        color: #00809c;
    }

#div-project-edit {
    display: none;
}

#div-project-edit-buttons {
    margin-top: 5px;
}
